# config vars for the root file system
HYPRIOT_OS_VERSION="v1.2.6"
ROOTFS_TAR_CHECKSUM="737c914f5d457772072cba8a647b31b564bcb2e896870e087f5ed6ccbcc9a1e9"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="2fbeb13b7b0f2308dbd0d82780b54c33003ad43d145ff08498b25fb8bbe1c2c6"

# specific versions of kernel/firmware and docker tools
export BOOTLOADER_BUILD="20180320-071222"
export KERNEL_BUILD="20180319-130037"
export KERNEL_VERSION="4.9.80"
export DOCKER_ENGINE_VERSION="18.02.0~ce"
export DOCKER_COMPOSE_VERSION="1.20.1"
export DOCKER_MACHINE_VERSION="0.13.0"
