# config vars for the root file system
HYPRIOT_OS_VERSION="v1.2.4"
ROOTFS_TAR_CHECKSUM="a8f06aa7c26af94a5cb3660ff23b6261e9544d710b3d5636a792ac8f88ca3f2f"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="2fbeb13b7b0f2308dbd0d82780b54c33003ad43d145ff08498b25fb8bbe1c2c6"

# specific versions of kernel/firmware and docker tools
export BOOTLOADER_BUILD="20180107-135241"
export KERNEL_BUILD="20171220-212938"
export KERNEL_VERSION="4.9.70"
export DOCKER_ENGINE_VERSION="17.11.0~ce"
export DOCKER_COMPOSE_VERSION="1.18.0"
export DOCKER_MACHINE_VERSION="0.13.0"
