# config vars for the root file system
HYPRIOT_OS_VERSION="v1.0.0"
ROOTFS_TAR_CHECKSUM="bc76226e56fb502d35dc22c182f5db8bf22222ded954a7961eed444afc4c26da"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="2fbeb13b7b0f2308dbd0d82780b54c33003ad43d145ff08498b25fb8bbe1c2c6"

# specific versions of kernel/firmware and docker tools
export BOOTLOADER_BUILD="20170208-090735"
export KERNEL_BUILD="20170208-085119"
export KERNEL_VERSION="4.9.8"
export DOCKER_ENGINE_VERSION="1.13.0"
export DOCKER_COMPOSE_VERSION="1.10.0"
export DOCKER_MACHINE_VERSION="0.9.0"
export DEVICE_INIT_VERSION="0.1.8"
